/* fonts */
@font-face { font-family: XWingShips; src: url(/fonts/xwing-miniatures-ships.ttf);}
@font-face { font-family: XWingIcons; src: url(/fonts/xwing-miniatures.ttf); }
@font-face { font-family: XWingNames; src: url(/fonts/SquarishSansCTRegularSC.ttf);}
@font-face { font-family: XWingStats; src: url(/fonts/xwstats.ttf);}

/* globals */
.div_Maneuvers    {display:inline-block; background-color:black; border: 1px solid black;}
.tab_Maneuvers    {border-collapse: collapse; border: 1px solid black;}
.tab_Maneuvers td {border: 1px solid gray; width: 24px; height: 22px; padding: 0; padding-top: 2px; margin: 0px; text-align: center; }
.td_Maneuvers     {background-color:black; border: 1px solid black;}
.td_ManeuverSpeed {background-color:black; font-family:XWingStats; color:white; }
.td_ManeuverRed   {background-color:black; font-family:XWingIcons; color:red;}
.td_ManeuverWhite {background-color:black; font-family:XWingIcons; color:white;}
.td_ManeuverGreen {background-color:black; font-family:XWingIcons; color:green;}
.td_ManeuverBlue  {background-color:black; font-family:XWingIcons; color:dodgerblue;}
.sp_Unreleased    {color:red;}
.sp_Error         {color:red; font-family: monospace; font-weight: bold;}

/* breadcrumb bar */
.topBar      {width:100%; overflow:auto; }
.breadcrumbs {float:left; color:lime; }
.breadcrumbs a:link    { color:green; }
.breadcrumbs a:visited { color:green; }
.built       { margin:0; padding:0; }
.lastbuild   { color:lime; font-size:12px; margin:0px; padding:0px; }
.lastbuildbc { color:lime; font-size:12px; float:right; }

/* pilot card */
.pcPilot    {position:relative; display:inline-block; background-color:black; color:black; width: 240px; height:320px; border: 1px solid white;}
.pcManeuvers{position:relative; background-color:black; text-align:center;}
.pcSkill    {position:absolute; background-color:black; font-family:XWingStats; top:110px; left:2px; font-size:35px; text-align:center; color:orange; }
.pcName     {position:absolute; background-color:beige; font-family:XWingNames; top:110px; left:30px; height:39px;  width:170px; text-align:center;}
.pcFactReb  {position:absolute; background-color:black; font-family:XWingIcons; top:110px; left:202px; font-size:35px; color:#EB1A41; text-align:center;}
.pcFactImp  {position:absolute; background-color:black; font-family:XWingIcons; top:110px; left:202px; font-size:35px; color:#87D143; text-align:center;}
.pcFactScu  {position:absolute; background-color:black; font-family:XWingIcons; top:110px; left:202px; font-size:35px; color:#F4EF17; text-align:center;}
.pcShip     {position:absolute; background-color:beige; font-family:XWingNames; top:150px; left:30px; height:19px;  width:170px; text-align:center;}
.pcAtckIcon {position:absolute; background-color:transparent; font-family:XWingIcons; top:170px; left:1px;  width:30px; font-size:23px; text-align:center; color:#EB1A41;}
.pcAtck     {position:absolute; background-color:transparent; font-family:XWingNames; top:170px; left:22px; width:30px; font-size:23px; letter-spacing:-5px; text-align:center; color:#EB1A41;}
.pcAgilIcon {position:absolute; background-color:transparent; font-family:XWingIcons; top:200px; left:1px;  width:30px; font-size:23px; letter-spacing:-5px; text-align:center; color:#87D143;}
.pcAgil     {position:absolute; background-color:transparent; font-family:XWingNames; top:200px; left:22px; width:30px; font-size:23px; letter-spacing:-5px; text-align:center; color:#87D143;}
.pcHullIcon {position:absolute; background-color:transparent; font-family:XWingIcons; top:230px; left:1px;  width:30px; font-size:23px; letter-spacing:-5px; text-align:center; color:#F4EF17;}
.pcHull     {position:absolute; background-color:transparent; font-family:XWingNames; top:230px; left:22px; width:30px; font-size:23px; letter-spacing:-5px; text-align:center; color:#F4EF17;}
.pcShldIcon {position:absolute; background-color:transparent; font-family:XWingIcons; top:260px; left:1px;  width:30px; font-size:23px; letter-spacing:-5px; text-align:center; color:#63EAF6;}
.pcShld     {position:absolute; background-color:transparent; font-family:XWingNames; top:260px; left:22px; width:30px; font-size:23px; letter-spacing:-5px; text-align:center; color:#63EAF6;}
.pcAbility  {position:absolute; background-color:beige;                         top:173px; left:55px; font-size:11px; width:180px; height:85px;}
.pcGenText  {position:absolute; background-color:beige; font-style:italic;      top:173px; left:55px; font-size:11px; width:180px; height:85px;}
.pcActions  {position:absolute; background-color:beige; font-family:XWingIcons; top:263px; left:55px; font-size:24px; height:30px; width:180px; text-align:center;}
.pcShipIcon {position:absolute; background-color:black; font-family:XWingShips; top:285px; left:0px; width:34px; font-size:35px; color:white; text-align:center;}
.pcUpgrades {position:absolute; background-color:beige; font-family:XWingIcons; top:298px; left:35px; font-size:18px; height:20px; width:170px; text-align:right;}
.pcCost     {position:absolute; background-color:black; font-family:XWingStats; top:298px; left:210px; font-size:20px; color:silver;}

/* upgrade card */
.ucUpgrade        {position:relative; background-color:black; display:inline-block; border: 1px solid white; width:192px; height:256px; color:black; }
.ucName           {position:absolute; background-color:beige; font-family:XWingNames; top:10px;  left:10px;  width:172px; height:39px;  text-align:center;}
.ucNameA          {position:absolute; background-color:beige; font-family:XWingNames; top:10px;  left:10px;  width:140px; height:39px;  text-align:center;}
.ucRestrictions   {position:absolute; background-color:beige; font-family:XWingNames; top:50px;  left:10px;  width:172px; height:29px;  font-size:9px;  text-align:center;}
.ucRestrictionsA  {position:absolute; background-color:beige; font-family:XWingNames; top:50px;  left:10px;  width:140px; height:29px;  font-size:9px;  text-align:center;}
.ucEnergyLimit    {position:absolute; background-color:beige; font-family:XWingNames; top:10px;  left:152px; width:30px;  height:19px;  font-size:20px; text-align:center; color:#BCACCC;}
.ucEnergyModifier {position:absolute; background-color:beige; font-family:XWingNames; top:10px;  left:152px; width:30px;  height:19px;  font-size:20px; text-align:center; color:#BCACCC;}
.ucAttackPower    {position:absolute; background-color:beige; font-family:XWingNames; top:30px;  left:152px; width:30px;  height:19px;  font-size:20px; text-align:center; color:#EB1A41;}
.ucAttackRange    {position:absolute; background-color:beige; font-family:XWingNames; top:50px;  left:152px; width:30px;  height:19px;  font-size:15px; text-align:center;}
.ucText           {position:absolute; background-color:beige;                         top:80px;  left:10px;  width:172px; height:140px; font-size:12px; text-align:center;}
.ucTypeIcon       {position:absolute; background-color:beige; font-family:XWingIcons; top:230px; left:10px;               height:19px;  font-size:20px; text-align:left;}
.ucCost           {position:absolute; background-color:beige; font-family:XWingNames; top:230px; left:155px; width:30px;  height:19px;  font-size:20px; text-align:center;}

.factionRebel      {color:red;            font-family:XWingIcons;}
.factionImperial   {color:lightsteelblue; font-family:XWingIcons;}
.factionScum       {color:forestgreen;    font-family:XWingIcons;}
.factionResistance {color:red;            font-family:XWingIcons;}
.factionFirstOrder {color:lightsteelblue; font-family:XWingIcons;}



/* Second Edition stuff */
body  {background-color:black; color:white; }
table {background-color:black; border-collapse: collapse; border: 1px solid white; color:white; margin:5px; }
th    {background-color:green; color:black; border: 1px solid darkgreen; }
td    {background-color:#001100; border: 1px solid darkgreen; }

a:link   {color: white; }
a:visited{color: grey; }

.key   {color:forestgreen; font-weight:bold; }
.value {}

/* factions */
.reb {font-family:XWingIcons; color:red;}
.imp {font-family:XWingIcons; color:lightsteelblue;}
.scm {font-family:XWingIcons; color:forestgreen;}
.res {font-family:XWingIcons; color:red;}
.fir {font-family:XWingIcons; color:lightsteelblue;}
.sep {font-family:XWingIcons; color:dimgray;}
.rep {font-family:XWingIcons; color:darkred;}
.shp {font-family:XWingShips; }

.container {display:block; width:100%; height:100%}
.floater   {margin:10px; display: inline-block; vertical-align:top; }
/*
.shipsList      {}
.shipsList .fac {font-size:23px; display:inline-block; padding-top:5px;}
.shipsList .shp {font-size:23px; display:inline-block; padding-top:5px;}
*/
.pilotsList {}
.pilotsList .fac {font-size:100px; text-align:center; padding-top: 25px;}
.pilotsList .ship {font-family:XWingShips; font-size:60px; text-align:center; }

.upgradesList {}
.upgradesList .fac {font-size:100px; text-align:center; padding-top:25px;}
.upgradesList .upt {font-size:60px; text-align:center; padding-top:15px; font-family:XWingIcons; }

/* name & unreleased table */
.nameUnreleased        {border:none; width:100%; margin:0px;}
.nameUnreleased .name  {border:none; text-align:left;}
.nameUnreleased .unrel {border:none; text-align:right;}

.mainmenu td { text-align: center; }
.dialcomp td { }
.dialcomp .na { text-align: center; }
.dcIcon { text-align: center; font-family:XWingShips; font-size:80px; }

.text {}
.bold {font-weight:bold;}

.initiative {color:orange; font-family:XWingStats;  font-size:20px;}
.cost       {font-family:XWingStats;  font-size:20px;}
.pilotName  {vertical-align:middle; white-space:nowrap;}
/*.shipName   {}*/
.iconGlyph  {font-family:XWingIcons; }
.shipGlyph  {font-family:XWingShips; }
.shipAbilityName { font-weight:bold;}

.HeaderIcon{border:0px; font-family:XWingShips; font-size:80px;}
.HeaderText{border:0px; font-family:XWingNames; font-size:50px;}

.statTable   {width:100%; height:100%; margin:0px; border:none; padding:0;}
.statCell    {vertical-align:middle; padding-left:3px; padding-right:3px; border:none;}
.attackStat  {color:#EB1A41; float:left; font-size:20px; display:table-cell;}
.attackArc   {font-family:XWingIcons;}
.attackVal   {font-family:XWingStats;}
.agilityStat {color:#87D143; font-family:XWingStats; font-size:20px;}
.hullStat    {color:#F4EF17; font-family:XWingStats; font-size:20px;}
.shieldStat  {color:#63EAF6; font-family:XWingStats; font-size:20px;}
.forceStat   {color:#c39dc9; font-family:XWingStats; font-size:20px;}
.forceIcon   {color:#c39dc9; font-family:XWingIcons; font-size:20px;}
.chargeStat  {color:#e6b922; font-family:XWingStats; font-size:20px;}
.chargeIcon  {color:#e6b922; font-family:XWingIcons; font-size:20px;}

.actionGroup {margin-left:7px; margin-right:7px;}
.linked      {color:white;  font-family:XWingIcons; font-size:12px;}
.actionW     {color:white;  font-family:XWingIcons; font-size:16px;}
.actionR     {color:red;    font-family:XWingIcons; font-size:16px;}
.actionP     {color:#c39dc9;font-family:XWingIcons; font-size:16px;}
.upgrades    {font-family:XWingIcons; font-size:20px; display:inline-block; margin-top:4px;}
.upgradeBar  {text-align:right;}
.pilotAbility{font-weight:bold;}
.pilotFlavor {font-style:italic;}
.unreleased  {font-weight:bold; font-family:XWingNames; color:red; text-align:right; }

/* Pilot Card */
.pc_CardReb  { position:relative; display:inline-block; width:500px; height:700px; background:#b1b2b0; }
.pc_Artwork  { position:absolute; display:inline-block; width:498px; height:198px; top:  1px; left:  1px; background:#000000; }
.pc_Init     { position:absolute; display:inline-block; width: 55px; height: 95px; top:210px; left:  5px; background:#000000; text-align:center; line-height: 95px; font-family:XWingStats; font-size:60px; color:#f67f20; }
.pc_Name     { position:absolute; display:inline-block; width:350px; height: 53px; top:210px; left: 75px; background:#231f20; text-align:center; line-height: 53px; font-family:XWingNames; font-size:22px; border-bottom: solid #762022 2px; }
.pc_Subtitle { position:absolute; display:inline-block; width:350px; height: 40px; top:265px; left: 75px; background:#231f20; text-align:center; line-height: 40px;                         font-size:16px; font-style:italic; }
.pc_Faction  { position:absolute; display:inline-block; width: 75px; height: 95px; top:210px; left:424px;                     text-align:center; line-height:100px; font-family:XWingIcons; font-size:60px; color:#be262a; }
.pc_TextCt   { position:absolute; display:flex;         width:424px; height:240px; top:305px; left:  1px; background:#ffede4; justify-content:center; align-items:center; }
.pc_Text,
.pc_FText    { position:absolute; display:inline-block; width:412px;                          left:  6px;                     text-align:center; font-size:24px; color:#000000; }
.pc_FText    { font-style:italic; }
.pc_Actions  { position:absolute; display:inline-block; width: 74px; height:330px; top:305px; left:425px; background:#231f20; text-align:center; color:#000000; }
.pc_Stats    { position:absolute; display:flex;         width:424px; height:105px; top:545px; left:  1px; background:#231f20; text-align:center; line-height: 40px;                         font-size:16px; }

.pc_StatAtk  { }


.pc_ShipIcon { position:absolute; display:inline-block; width: 49px; height: 49px; top:650px; left: 15px; background:#000000; text-align:center; line-height: 49px; font-family:XWingShips; font-size:50px; color:#ffffff; }
.pc_ShipName { position:absolute; display:inline-block; width:350px; height: 40px; top:650px; left: 75px; background:#231f20; text-align:center; line-height: 40px; font-family:XWingNames; font-size:16px; border-top: solid #762022 2px; }
